BODY { 	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px }
TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	FONT-SIZE: 11px;
	
}
TH { 	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px }
BODY { 	MARGIN-TOP: 10px }
A { 	COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold }
A:link { 	TEXT-DECORATION: red }
A:visited { 	TEXT-DECORATION: none }
A:hover { 	COLOR: #000000; TEXT-DECORATION: blue }
A:active { 	TEXT-DECORATION: none }
.style2 {
	FONT-FAMILY: "Monotype Corsiva";
	FONT-SIZE: 36px;
	font-style: italic;
	font-weight: bold;
	text-decoration: blink;
}
.underline { 	TEXT-DECORATION: underline }
.mini { 	FONT-SIZE: 9px }
.rood { 	COLOR: #ff0000 }
.blue { 	COLOR: #0000CC }
.leeg { background-color: #7F997F;
